---
const { title = "unknown page - km7dev", desc = "i havent put a description but im debugging so ignore for now" /* "oops i forgot a description, please tell me!" */, color = "#a259cf" } = Astro.props;

import { ViewTransitions } from "astro:transitions";
---
<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content=`${title}`/>
		<meta property="og:description" content=`${desc}`/>
		<meta property="og:type" content="website"/>
		<meta property="theme-color" content=`${color}`/>

		<title>{title}</title>
	</head>
	<body>
		<div transition:persist id="flash-layer"/>
    <script transition:persist>
      var hasStarted = false
			document.addEventListener("astro:page-load", () => {
				var flash = document.getElementById("flash-layer")

				function doFlash() {
					if (!flash) return;
					var time = Math.random() * 5 + 7
					var scale = .6 + Math.random() * 2;
					flash.style.width = 60 * scale + "vb";
					flash.style.height = 60 * scale + "vb";
					flash.style.left = -10 + Math.random() * 80 + "vw";
					flash.style.top = -30 + Math.random() * 80 + "vh";
					flash.style.animationDuration = time + "s";
          flash.classList.add("doFlash")
          localStorage.animationTimePassed = Date.now();
					setTimeout(() => {
						flash?.classList.remove("doFlash");
						setTimeout(doFlash, 10000)
					}, time * 2000);
				}
        
        if (!hasStarted) {
          doFlash();
          hasStarted = true;
        } else {
          const timePassed = (Date.now() - localStorage.animationTimePassed) / 1000;
          flash.style.animationDelay = `-${timePassed}s`;
        }
      })
    </script>
		<slot/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #0f0b1d;
		color: #eee;
	}
	@keyframes flash {
		0%:  {scale: 0%;    opacity: 0;   }
		80%: {scale: 70%;   opacity: 20%; }
		100% {scale: 100%;  opacity: 100%;}
	}
	#flash-layer {
		position: fixed;
		inset: 0;
		pointer-events: none;
		overflow: hidden;
		width: 60vmin;
		height: 60vmin;
		opacity: 0;
		scale: 0;
		background:radial-gradient(
			circle,
			rgba(217, 151, 250, 0.18) 0%,
			rgba(217, 151, 250, 0.11) 20%,
			rgba(217, 151, 250, 0.03) 50%,
			rgba(217, 151, 250, 0.00) 70%
		);
	}
	.doFlash {
		animation-name: flash;
		animation-iteration-count: 2;
		animation-direction: alternate;
	}
</style>
